html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #34495E;
}

iframe {
  width: 100%;
}

.botui-app-container {
  max-width: 500px;
  margin: 40px auto 0;
}

.botui-container {
  background-color: #34495E;
}
.botui-message-content {
  color: #FFFFFF;
  background-color: #F1C40F;
  margin-bottom: 20px;
}

.botui-message-content.human {
  background-color: #3498DB;
}

.botui-actions-text-input {
  color: #FFFFFF;
  border-bottom: 1px solid #3498DB;
}

.botui-actions-buttons-button {
  line-height: 1 !important;
  background-color: #3498DB;
}


a {
  color: #919292;
  text-decoration: none;
}
